.banner{
	margin: 0;
	padding: 0;
}
.banner img{
	display: block;
}




.bigopation{
	background: #EEEEEE;
}
.option{
	max-width: 1200px;
	margin: auto;
	padding: 50px;
}
.option ul:nth-child(1) li:last-child{
	padding-right: 20px;
	background: url(../images/snajiao.png) no-repeat 100% center;
}
.option ul:nth-child(n+2){
	margin-top: 30px;
}
.option ul li{
	float: left;
	margin-right: 15px;
}
.option ul li:nth-child(1){
	color: #F39800;
	font-size: 18px;
}
.option ul li:not(:nth-child(1)) a{
	color: #808080;
	font-size: 18px;
}
.option ul li a.active{
	color: #474747;
}
.option .left{
	float: left;
}
.option .right{
	float: right;
	margin-left: 20px;
	text-align: right;
	width:40%;
}
.option .right p{
	margin-bottom: 30px;
}
.option .right p input{
	width: 300px;
	padding: 8px 8px 8px 30px;
	border: 1px solid #B9B8B9;
	outline: none;
	color: #CECECE;
}
.option .right p input::-moz-placeholder{
	color: #CECECE;
}
.option .right p input::-ms-input-placeholder{
	color: #CECECE;
}
.option .right p input::-webkit-input-placeholder{
	color: #CECECE;
}
.option .right p button{
	font-size: 14px;
	color: #FAFAFA;
	background: #F39800;
	border: none;
	padding: 8px;
	vertical-align: middle;
	cursor: pointer;
}
@media (max-width:1200px) {
	.option ul:nth-child(1) li:last-child{
		padding-right: 10px;
		background: url(../images/snajiao.png) no-repeat 100% 60%;
	}
	.option{
		padding:10px;
	}
	.option ul:nth-child(n+2){
		margin-top: 10px;
	}
	.option ul li:nth-child(1){
		font-size: 14px;
	}
	.option ul li:not(:nth-child(1)) a{
		color: #808080;
		font-size: 14px;
	}
	.option .left{
		float: none;
	}
	.option .right{
		margin-top: 20px;
		margin-left: 0;
		float: none;
		text-align: inherit;
		width:100%;
	}
	.option .right p{
		margin-bottom: 10px;
	}
	.option .right p input{
		width: 70%;
		padding: 8px 8px 8px 30px;
		border: 1px solid #B9B8B9;
		outline: none;
		color: #CECECE;
	}
	.option .right p button{
		font-size: 14px;
		color: #FAFAFA;
		background: #F39800;
		border: none;
		padding:7px;
		vertical-align: middle;
	}
}






.referral{
	max-width: 1400px;
	margin:50px auto;
	background: #EEEEEE;
}
.referral div{
	float: left;
	width: 33.333333%;
	height: 355px;
	position: relative;
}
.referral div img{
	display: block;
}
.referral .jss{
	
}
.referral .jss span{
	display: block;
	width: 80px;
	height: 20px;
	background: #404040;
	margin: 50px 0 0 50px;
}
	
.referral .jss p:nth-child(2){
	font-size: 29px;
	color: #404040;
	margin: 50px 0 0 50px;
}
.referral .jss p:nth-child(3){
	position: absolute;
	bottom: 20px;
	left: 50px;
	right: 50px;
	font-size: 12px;
	color: #717171;
}
@media (max-width:1300px) {
	.referral div{
		height:300px;
		overflow: hidden;
	}
	.referral div{
		float: left;
		width: 50%;
		position: relative;
	}
	.referral .jss span{
		display: block;
		width: 60px;
		height: 10px;
		margin: 30px 0 0 30px;
	}
		
	.referral .jss p:nth-child(2){
		font-size: 22px;
		margin: 30px 0 0 30px;
	}
	.referral .jss p:nth-child(3){
		position: absolute;
		bottom: 10px;
		left: 30px;
		right: 30px;
	}
}
@media (max-width:992px) {
	.referral div{
		float: none;
		width: 100%;
		position: relative;
	}
	.referral div{
		height:auto;
		overflow: hidden;
	}
	.referral .jss span{
		display: block;
		width: 60px;
		height: 10px;
		margin: 10px 0 0 10px;
	}
		
	.referral .jss p:nth-child(2){
		font-size: 16px;
		margin: 10px 0 0 10px;
	}
	.referral .jss p:nth-child(3){
		position: initial;
		margin: 10px;
	}
}












.list{
	max-width: 1200px;
	margin: auto;
}

.list ul{
	
}
.list ul li{
	float: left;
	width: 48%;
}
.list ul li img{
	display: block;
}
.list ul li .texts{
	border: 1px solid #EDEDED;
	border-top: none;
	margin-bottom: 30px;
	padding-bottom: 10px;
}
.list ul li .texts p{
	font-size: 26px;
	font-weight: bold;
	color: #131313;
	padding-top: 15px;
	margin:0 0 15px 0;
	margin-left: 20px;
	
}
.list ul li .texts a{
	margin: 5px 0 5px 20px;
	color: #474747;
	font-size: 16px;
}
.list ul li .texts a span{
	margin-right: 10px;
}
.list ul li:nth-child(odd){
	margin-right: 4%;
}
.list ul li .texts a.active{
	color: #F39800;
}
.list ul li .top{
	position: relative;
}
.list ul li .top .mengc{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/shizi.png) no-repeat center center;
	background-color: rgba(0,0,0,0.5);
	display: none;
}
.list ul li .top .mengc.active{
	display: block;
}
.list>a{
	display: block;
	width: 150px;
	font-size: 18px;
	color: #DDDDDD;
	text-align: center;
	height: 50px;
	line-height: 50px;
	background: #323334;
	margin: auto;
	margin-bottom: 50px;
}
@media (max-width:992px) {
	.list ul li .texts{
		border: 1px solid #EDEDED;
		border-top: none;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	.list ul li{
		width: 49%;
	}
	.list ul li .texts p{
		font-size: 12px;
		font-weight: bold;
		color: #131313;
		padding-top:10px;
		margin:0 0 5px 0;
		margin-left:0px;
		
	}
	.list ul li .texts a{
		margin: 5px 0 5px 5px;
		color: #474747;
		font-size: 12px;
	}
	.list ul li .texts a span{
		margin-right: 5px;
	}
	.list ul li:nth-child(odd){
		margin-right: 2%;
	}
	.list ul li .texts a.active{
		color: #F39800;
	}
	.list ul li .top{
		position: relative;
	}
	.list ul li .top .mengc{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: url(../images/shizi.png) no-repeat center center;
		background-size:20%;
		background-color: rgba(0,0,0,0.5);
		display: none;
	}
	.list ul li .top .mengc.active{
		display: block;
	}
	.list>a{
		display: block;
		width: 100px;
		font-size: 12px;
		color: #DDDDDD;
		text-align: center;
		height: 30px;
		line-height: 30px;
		background: #323334;
		margin: auto;
		margin-bottom: 20px;
	}
}
